.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*this display isnt as responsive as I would of liked. Must be adjusted.*/
